/* variables */
/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
/*SCSS*/
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__footer {
  background-color: #272727;
  position: relative;
  z-index: 4; }

.footer__titulo {
  text-align: center;
  color: white;
  padding: 1rem; }
  .footer__titulo--a {
    border: solid 0.4rem #9a7d0a;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive; }

.footer__titRedes {
  text-align: center; }

.footer__contacto {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 2rem; }

.footer__logoIns {
  text-align: center;
  margin: 2rem; }

.footer__logoInsImg {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }

.footer__autor--p {
  color: black;
  font-size: 2rem; }

.footer__nielsenNicolas {
  font-size: 2rem;
  font-weight: 200;
  color: white; }
  .footer__nielsenNicolas:link {
    color: white; }
  .footer__nielsenNicolas:visited {
    color: white; }
  .footer__nielsenNicolas:hover {
    color: white;
    text-decoration: none; }
  .footer__nielsenNicolas:active {
    color: white; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__footer {
  background-color: #272727;
  position: relative;
  z-index: 4; }

.footer__titulo {
  text-align: center;
  color: white;
  padding: 1rem; }
  .footer__titulo--a {
    border: solid 0.4rem #9a7d0a;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive; }

.footer__titRedes {
  text-align: center; }

.footer__contacto {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 2rem; }

.footer__logoIns {
  text-align: center;
  margin: 2rem; }

.footer__logoInsImg {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }

.footer__autor--p {
  color: black;
  font-size: 2rem; }

.footer__nielsenNicolas {
  font-size: 2rem;
  font-weight: 200;
  color: white; }
  .footer__nielsenNicolas:link {
    color: white; }
  .footer__nielsenNicolas:visited {
    color: white; }
  .footer__nielsenNicolas:hover {
    color: white;
    text-decoration: none; }
  .footer__nielsenNicolas:active {
    color: white; }

.index__subTitulo--top {
  font-size: 4rem;
  font-weight: 400;
  word-spacing: 3rem;
  padding: 1rem 10rem;
  color: white;
  background-color: #272727;
  position: relative;
  text-align: center;
  z-index: 10;
  left: 40rem; }

.index__subTitulo--mid {
  font-size: 4rem;
  font-weight: 400;
  word-spacing: 3rem;
  padding: 1rem 10rem;
  color: white;
  background-color: #272727;
  position: relative;
  text-align: center;
  z-index: 10;
  left: -20rem; }

.index__subTitulo--bot {
  font-size: 4rem;
  font-weight: 400;
  word-spacing: 3rem;
  padding: 1rem 10rem;
  color: white;
  background-color: #272727;
  position: relative;
  text-align: center;
  z-index: 10;
  left: 40rem; }

.index__seccion, .index__seccion--mid {
  background-color: white;
  padding: 4rem 3rem;
  position: relative;
  z-index: 3; }
  .index__seccion--mid {
    z-index: 1;
    height: 50rem; }

.index__titulo {
  padding: 1rem;
  text-align: center;
  border-radius: 4rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff; }

.index__parrafo, .index__parrafo--mid {
  font-size: 4rem;
  font-weight: 200;
  background: #e0e0e0;
  box-shadow: 20px 20px 41px #7b7b7b, -20px -20px 41px #ffffff;
  border-radius: 3rem;
  padding: 2rem;
  transition: all .5s; }
  .index__parrafo:hover, .index__parrafo--mid:hover {
    box-shadow: 31px 31px 62px #808080, -31px -31px 62px #ffffff; }
  .index__parrafo--mid {
    text-align: right;
    position: relative;
    top: 7rem; }

.index__parrafo1 {
  font-size: 4rem;
  font-weight: 200;
  position: fixed;
  z-index: 2;
  width: 70rem;
  height: 40rem;
  top: 20rem;
  bottom: 2rem;
  color: white;
  background: #272727;
  padding: 10rem 5rem 5rem 3rem;
  text-align: left; }

.index__rabbit {
  max-width: 40rem;
  max-height: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  left: 10rem; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__footer {
  background-color: #272727;
  position: relative;
  z-index: 4; }

.footer__titulo {
  text-align: center;
  color: white;
  padding: 1rem; }
  .footer__titulo--a {
    border: solid 0.4rem #9a7d0a;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive; }

.footer__titRedes {
  text-align: center; }

.footer__contacto {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 2rem; }

.footer__logoIns {
  text-align: center;
  margin: 2rem; }

.footer__logoInsImg {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }

.footer__autor--p {
  color: black;
  font-size: 2rem; }

.footer__nielsenNicolas {
  font-size: 2rem;
  font-weight: 200;
  color: white; }
  .footer__nielsenNicolas:link {
    color: white; }
  .footer__nielsenNicolas:visited {
    color: white; }
  .footer__nielsenNicolas:hover {
    color: white;
    text-decoration: none; }
  .footer__nielsenNicolas:active {
    color: white; }

.nosotros__nosotros {
  border-radius: 1rem;
  padding: 1rem; }

.nosotros__argumentos, .nosotros--valores {
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  margin: 4rem 1rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; }
  .nosotros__argumentos:hover, .nosotros--valores:hover {
    background: #e0e0e0;
    box-shadow: 32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff; }

.nosotros__descripcion {
  background: #272727;
  color: white;
  padding: 2rem;
  margin: 3rem 0rem;
  word-spacing: 1rem;
  line-height: 4rem;
  text-align: center; }

.nosotros__titulos {
  border-radius: 1rem;
  padding: .5rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 7px 7px 14px #b1b1b1, -7px -7px 14px #ffffff; }

.nosotros--valores {
  margin: 1rem 0rem; }
  .nosotros--valores:hover {
    background: #e0e0e0;
    box-shadow: 32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff; }

.lista__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.lista__items {
  padding: 1rem 0rem;
  font-size: 2rem;
  font-weight: 200; }

.userImg {
  max-width: 5rem;
  margin: 0rem 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 3rem; }

.nosotros__user {
  background: #272727;
  box-shadow: 19px 19px 39px #212121, -19px -19px 39px #2d2d2d;
  margin: 3rem 1rem;
  border-radius: 1rem;
  padding: 2rem;
  color: white; }

.nosotros__users--contenedor {
  background-color: #272727;
  margin-left: .5rem;
  margin-bottom: 3rem;
  height: 30rem; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__footer {
  background-color: #272727;
  position: relative;
  z-index: 4; }

.footer__titulo {
  text-align: center;
  color: white;
  padding: 1rem; }
  .footer__titulo--a {
    border: solid 0.4rem #9a7d0a;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive; }

.footer__titRedes {
  text-align: center; }

.footer__contacto {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 2rem; }

.footer__logoIns {
  text-align: center;
  margin: 2rem; }

.footer__logoInsImg {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }

.footer__autor--p {
  color: black;
  font-size: 2rem; }

.footer__nielsenNicolas {
  font-size: 2rem;
  font-weight: 200;
  color: white; }
  .footer__nielsenNicolas:link {
    color: white; }
  .footer__nielsenNicolas:visited {
    color: white; }
  .footer__nielsenNicolas:hover {
    color: white;
    text-decoration: none; }
  .footer__nielsenNicolas:active {
    color: white; }

.productos__imgProductos {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: black;
  transition: all .5s;
  z-index: 3;
  top: 5.5rem;
  left: 8.2rem;
  position: absolute; }
  .productos__imgProductos:hover {
    opacity: 0; }

.productos__fuente {
  text-align: center;
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive; }

.productos__producto {
  text-align: center;
  margin: 3rem auto;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 35px 35px 70px #a1a1a1, inset -35px -35px 70px #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
  border: solid grey .4rem; }

.productos__nombre {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 20rem;
  color: black;
  border-radius: 2rem; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__footer {
  background-color: #272727;
  position: relative;
  z-index: 4; }

.footer__titulo {
  text-align: center;
  color: white;
  padding: 1rem; }
  .footer__titulo--a {
    border: solid 0.4rem #9a7d0a;
    font-size: 4rem;
    font-family: 'UnifrakturMaguntia', cursive; }

.footer__titRedes {
  text-align: center; }

.footer__contacto {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 2rem; }

.footer__logoIns {
  text-align: center;
  margin: 2rem; }

.footer__logoInsImg {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }

.footer__autor--p {
  color: black;
  font-size: 2rem; }

.footer__nielsenNicolas {
  font-size: 2rem;
  font-weight: 200;
  color: white; }
  .footer__nielsenNicolas:link {
    color: white; }
  .footer__nielsenNicolas:visited {
    color: white; }
  .footer__nielsenNicolas:hover {
    color: white;
    text-decoration: none; }
  .footer__nielsenNicolas:active {
    color: white; }

.medioAmbiente__sep {
  background: #272727;
  padding: 2rem; }

.medioAmbiente__titulo {
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  background: #272727;
  box-shadow: 9px 9px 18px #1c1c1c, -9px -9px 18px #323232; }

.medioAmbiente__parrafo {
  margin: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  background: #c0c0c0;
  box-shadow: inset 9px 9px 18px #4d4d4d, inset -9px -9px 18px #ffffff; }
