/* variables */
/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
/*SCSS*/
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.index__dorado {
  background-color: #9a7d0a; }

.index__gris {
  background-color: grey; }

.index__blanco {
  background-color: white; }

.index__variedades {
  outline: none;
  border: none;
  width: 15rem;
  height: 15rem;
  margin: 3rem;
  font-size: 4rem;
  font-weight: 200;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: all .3s; }
  .index__variedades:hover {
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #d0d0d0, -20px -20px 60px #f0f0f0;
    font-size: 3.8rem;
    font-weight: 200; }
  .index__variedades:active {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
    font-size: 3.5rem;
    font-weight: 200; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.nosotros__nosotros {
  max-width: fit-content;
  margin: 3rem 1rem;
  border-radius: 1rem;
  padding: 1rem; }

.nosotros__argumentos, .nosotros--valores {
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  margin: 4rem 1rem;
  transition: all .5s;
  border: solid grey .4rem; }
  .nosotros__argumentos:hover, .nosotros--valores:hover {
    border: solid white .4rem;
    background: #e0e0e0;
    box-shadow: 32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff; }

.nosotros__descripcion {
  background-image: url(../Assets/BACK22.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  word-spacing: 1rem;
  line-height: 4rem;
  text-align: center; }

.nosotros__titulos {
  border-radius: 1rem;
  padding: .5rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 7px 7px 14px #b1b1b1, -7px -7px 14px #ffffff; }

.nosotros--valores {
  margin: 1rem 0rem; }
  .nosotros--valores:hover {
    border: solid white .4rem;
    background: #e0e0e0;
    box-shadow: 32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff; }

.lista__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.lista__items {
  padding: 1rem 0rem;
  font-size: 2rem;
  font-weight: 200; }

.userImg {
  max-width: 5rem;
  margin: 0rem 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 3rem; }

.nosotros__user {
  box-shadow: inset 17px 17px 34px #969696, inset -17px -17px 34px #ffffff;
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  color: black; }

.nosotros__users--contenedor {
  background-image: url(../Assets/BACK22.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  border-radius: 1rem;
  margin: 1rem; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.productos__imgProductos {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: black;
  transition: all .5s;
  z-index: 3;
  bottom: 53rem;
  left: 6.6rem;
  position: relative; }
  .productos__imgProductos:hover {
    opacity: 0; }

.productos__fuente {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive; }

.productos__producto {
  text-align: center;
  margin: 3rem auto;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 35px 35px 70px #a1a1a1, inset -35px -35px 70px #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
  border: solid grey .4rem; }

.productos__nombre {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 20rem;
  color: white;
  background-color: .productos__nombre drCol;
  border-radius: 1rem; }

.productoscontenedor {
  position: relative; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.formulario__cuerpo {
  background-color: black;
  padding: 2rem;
  color: white;
  margin: 2rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 4rem;
  font-weight: 400; }

.formulario__grupo {
  font-size: 4rem;
  font-weight: 400; }

.formulario__option {
  font-size: 2rem;
  font-weight: 200; }

.formulario__entrada {
  font-size: 2rem;
  font-weight: 200; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.medioAmbiente__cuerpo {
  max-width: fit-content;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  text-align: center;
  line-height: 5rem;
  background-image: url(../Assets/BACK22.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-position: center; }

.medioAmbiente__titulo {
  text-transform: capitalize;
  margin: 1rem;
  background-color: #9a7d0a;
  padding: 1rem 0rem;
  transform: skew(-10deg); }

.medioAmbiente__parrafo {
  background-color: white;
  border-radius: 1rem;
  color: black;
  margin: 2rem;
  opacity: .8;
  padding: 1rem; }

/* variables */
/*Imports*/
/*SCSS*/
* {
  font-size: 62.5%;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

h1 {
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  text-transform: capitalize; }

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 2rem;
  font-weight: 200; }

.navegador__navegador {
  background-color: white;
  border-bottom: solid #9a7d0a 0.4rem; }

.navegador__item {
  transition: all .3s;
  font-size: 4rem;
  font-weight: 200;
  font-family: 'Nunito', sans-serif; }
  .navegador__item:hover {
    transform: scale(1.1); }

a.navegador__link {
  text-transform: capitalize; }
  a.navegador__link:link {
    text-decoration: none;
    color: black; }
  a.navegador__link:visited {
    text-decoration: none;
    color: black; }
  a.navegador__link:hover {
    text-decoration: none;
    color: black;
    font-weight: 400; }
  a.navegador__link:active {
    text-decoration: none;
    color: black; }

.header__logo {
  max-width: 20rem;
  max-height: auto;
  margin: 2rem;
  border: solid #9a7d0a 0.4rem; }

.header__titulo {
  text-align: center;
  word-spacing: 2rem;
  letter-spacing: 2rem; }

.header__subTitulo {
  text-align: center;
  word-spacing: 4rem;
  letter-spacing: 2rem; }

.footer__backTopButton {
  font-weight: 400;
  font-size: 2rem;
  transform: skew(-10deg);
  background-color: #9a7d0a;
  border: solid #786108 0.3rem;
  text-transform: capitalize;
  text-align: center;
  transition: all .5s;
  margin: 2rem;
  padding: 1rem; }
  .footer__backTopButton:link {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:visited {
    text-decoration: none;
    color: black; }
  .footer__backTopButton:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem);
    border: solid #786108 0.6rem; }
  .footer__backTopButton:active {
    text-decoration: none;
    color: black; }

.footer__logoIns {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logoInsImg {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #9a7d0a;
  transition: all .5s; }
  .footer__logoInsImg:hover {
    box-shadow: 0rem 1.5rem 6rem 0.3rem #555744;
    transform: translate(0rem, -0.5rem); }

.error__error {
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  margin-top: 20rem;
  border-radius: 6rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 2rem 2rem 3rem #7d7d7d, -16px -16px 32px #ffffff; }

.error__aclaracion {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
  margin: 3rem;
  border-radius: 63px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 16px 16px 32px #7d7d7d, -16px -16px 32px #ffffff; }

.error__boton {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  border-radius: 30% 70% 30% 70% / 65% 62% 38% 35%;
  background-color: #9a7d0a;
  color: black;
  text-transform: capitalize;
  transition: all .5s;
  padding: 2rem;
  margin: 2rem; }
  .error__boton:link {
    text-decoration: none;
    color: black; }
  .error__boton:visited {
    text-decoration: none;
    color: black; }
  .error__boton:hover {
    text-decoration: none;
    color: black;
    transform: scale(1.2);
    border-radius: 19% 81% 52% 48% / 76% 19% 81% 24%; }
  .error__boton:active {
    text-decoration: none;
    color: black; }
