@import 'general';

// scss

.cerveza{
	&__contenedor{
		background-color: $bgCol;
		height: 55rem;
	}
	&__titulo{
		text-align: center;
		color: white;
	}
	&__parrafo{
		background-color: white;
		padding: 2rem;
		line-height: 5rem;
	}
	&__datos{
		padding: 2rem;
		margin: 1rem;
		border:solid .4rem $bgCol ;
	}
}