@import 'general';

// scss

.cerveza{
	&__contenedor{
		background-color: $bgCol;
		height: 55rem;
	}
	&__titulo{
		text-align: center;
		color: white;
	}
	&__parrafo{
		background-color: white;
		padding: 2rem;
		line-height: 5rem;
	}
	&__datos{
		padding: 2rem;
		margin: 1rem;
		border:solid .4rem $bgCol ;
	}
}
@media only screen and (max-width: 480px){
	.cerveza{
		&__contenedor{
			width: 100%;
			height: auto;
			background-color: white;
		}
		&__titulo{
			background-color: white;
			color: $bgCol;
			position: relative;
			left: 1rem;
		}
		&__parrafo{
			position: relative;
			left: 1rem;
			text-align: center;
		}
		&__datos{
			position: relative;
			left: .5rem;
		}
	}
}