@import 'general';

// scss

.formulario{
	&__cuerpo{
		background-color: black;
		padding: 2rem;
		color: white;
		margin: 2rem;
		text-align: center;
		border-radius: 1rem;
		@include fuenteGen(4rem,400);
	}
	&__grupo{
		@include fuenteGen(4rem,400);
	}
	&__option{
		@include fuenteGen(2rem,200);
	}
	&__entrada{
		@include fuenteGen(2rem,200);
	}
}