@import 'general';

// scss

$desp:(
	"top": 40rem,
	"mid": -20rem,
	"bot": 40rem
	);

@each $name, $des in $desp {
	.index__subTitulo--#{$name}{
		@include subTituloIndex($des);
	}
}
.index{
	&__seccion{
		background-color: white;
		padding: 4rem 3rem;
		position: relative;
		z-index: 3;
		&--mid{
			@extend .index__seccion;
			z-index: 1;
			height: 50rem;
		}
	}
	&__titulo{
		padding: 1rem;
		text-align: center;
		border-radius: 4rem;
		background: #e0e0e0;
		box-shadow:  20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff;
	}
	&__parrafo{
		@include fuenteGen(4rem, 200);
		background: #e0e0e0;
		box-shadow:  20px 20px 41px #7b7b7b, -20px -20px 41px #ffffff;
		border-radius: 3rem;
		padding: 2rem;
		transition:all .5s;
		&:hover{
			box-shadow:  31px 31px 62px #808080, -31px -31px 62px #ffffff;
		}
		&--mid{
			@extend .index__parrafo;
			text-align: right;
			position: relative;
			top: 7rem;
		}
	}
	&__parrafo1{
		@include fuenteGen(4rem, 200);
		position: fixed;
		z-index: 2;
		width: 70rem;
		height: 40rem;
		top: 20rem;
		bottom: 2rem;
		color: white;
		background: #272727;
		padding: 10rem 5rem 5rem 3rem;
		text-align: left;
	}
	&__rabbit{
		max-width: 40rem;
		max-height: auto;
		position: relative;
		z-index: 1;
		overflow: hidden;
		left: 10rem;
	}
}