@import 'general';

// scss

$bgCol:(
	"dorado": white,
	"gris": white,
	"blanco": white
	);
$desp:(
	"top": 40rem,
	"mid": -40rem,
	"bot": 40rem
	);

@each $name, $des in $desp {
	.index__subTitulo--#{$name}{
		@include subTituloIndex($des);
	}
}
@each $bg, $col in $bgCol {
	.index__#{$bg}{
		background-color: $col;
		padding: 4rem 3rem;
	}
}

.index{
	&__titulo{
		padding: 1rem;
		text-align: center;
		border-radius: 4rem;
		background: #e0e0e0;
		box-shadow:  20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff;
	}
	&__parrafo{
		@include fuenteGen(4rem, 200);
		background: #e0e0e0;
		box-shadow:  20px 20px 41px #7b7b7b, -20px -20px 41px #ffffff;
		border-radius: 3rem;
		padding: 1rem;
		text-align: center;
	}
	&__rabbit{
		max-width: 40rem;
		max-height: auto;
		position: relative;
		z-index: 1;
		overflow: hidden;
		left: 10rem;
	}
	&__beerImg{
		border-radius: 45%;
	}
	&__variedades{
		outline: none;
		border: none;
		width: 15rem;
		height: 15rem;
		margin: 3rem;
		@include fuenteGen(4rem, 200);
		border-radius: 50%;
		background: #e0e0e0;
		box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
		transition:all .3s;
		&:hover{
			background: #e0e0e0;
			box-shadow:  20px 20px 60px #d0d0d0, -20px -20px 60px #f0f0f0;
			@include fuenteGen(3.8rem, 200);
		}
		&:active{
			background: linear-gradient(145deg, #cacaca, #f0f0f0);
			box-shadow:  20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
			@include fuenteGen(3.5rem, 200);
		}
	}
}