@import 'general';

// scss

$desp:(
	"top": 40rem,
	"mid": -20rem,
	"bot": 40rem
	);

@each $name, $des in $desp {
	.index__subTitulo--#{$name}{
		@include subTituloIndex($des);
	}
}
.index{
	&__seccion{
		background-color: white;
		padding: 4rem 3rem;
		position: relative;
		z-index: 3;
		&--mid{
			@extend .index__seccion;
			z-index: 1;
			height: 50rem;
		}
	}
	&__titulo{
		padding: 1rem;
		text-align: center;
		border-radius: 4rem;
		background: #e0e0e0;
		box-shadow:  20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff;
	}
	&__parrafo{
		@include fuenteGen(4rem, 200);
		background: #e0e0e0;
		box-shadow:  20px 20px 41px #7b7b7b, -20px -20px 41px #ffffff;
		border-radius: 3rem;
		padding: 2rem;
		transition:all .5s;
		&:hover{
			box-shadow:  31px 31px 62px #808080, -31px -31px 62px #ffffff;
		}
		&--mid{
			@extend .index__parrafo;
			text-align: right;
			position: relative;
			top: 7rem;
		}
	}
	&__img{
			position: relative;
			top: 5rem;
			left: 10rem;
		}
	&__parrafo1{
		@include fuenteGen(4rem, 200);
		position: fixed;
		z-index: 2;
		width: 70rem;
		height: 40rem;
		top: 20rem;
		bottom: 2rem;
		color: white;
		background: #272727;
		padding: 10rem 5rem 5rem 3rem;
		text-align: left;
	}
	&__rabbit{
		max-width: 40rem;
		max-height: auto;
		position: relative;
		z-index: 1;
		overflow: hidden;
		left: 10rem;
	}
}

@media only screen and (max-width:480px ) {
	.index{
		&__rabbit{
			display: none;
		}
		&__seccion{
			height: auto;
		}
		&__parrafo{
			@include fuenteGen(2rem, 200);
			background-color: white;
			border: solid .4rem $bgCol;
			border-radius: 0rem;
			padding: 1rem;
			box-shadow:  31px 31px 62px white, -31px -31px 62px white;
			&:hover{
				border: solid .4rem $bgCol;
				border-radius: 0rem;
				box-shadow:  31px 31px 62px white, -31px -31px 62px white;
			}
		}
		&__img{
			position: relative;
			left: -2.5rem;
		}
		&__parrafo--mid{
			height: auto;
			position: relative;
			left: -1.5rem;
			top: 0rem;
			text-align: center;
			padding-right: 4rem;
			padding-left: 4rem;
		}
		&__parrafo1{
			position: relative;
			left: 0rem;
			bottom: 0rem;
			top: 10rem;
			width: 35rem;
			height: auto;
			padding: 2rem;
			background-color: white;
			color: black;
			border: solid .4rem $bgCol;
			border-radius: 0rem;
			@include fuenteGen(2rem,200);
		}
		&__titulo{
			font-size: 4rem;
			margin: 2rem 0rem;
			border-radius: 0rem;
		}
		&__subTitulo{
			&--top{
				position: relative;
				left: 0rem;
				@include fuenteGen(2rem, 200);
				word-spacing: 1rem;
				background: white;
				color: black;
				border: solid .4rem $bgCol;
				margin: 2rem;
				padding: 1rem;
			}
			&--mid{
				position: relative;
				left: -1rem;
				bottom: 20rem;
				@include fuenteGen(2rem, 200);
				word-spacing: 1rem;
				padding: 3rem 6rem;
			}
			&--bot{
				position: relative;
				left: 0rem;
				bottom: 4.5rem;
				@include fuenteGen(2rem, 200);
				word-spacing: 1rem;
				padding: 3rem 4rem;
			}
		}
	}
}