@import 'general';

// scss

.medioAmbiente{
	&__sep{
		background: #272727;
		padding: 1rem;
	}
	&__titulo{
		color: white;
		text-align: center;
		padding: 1rem;
		border-radius: 2rem;
		background: #272727;
		box-shadow:  9px 9px 18px #1c1c1c, -9px -9px 18px #323232;
	}
	&__parrafo{
		margin: 3rem;
		padding: 2rem;
		border-radius: 2rem;
		background: #c0c0c0;
		box-shadow: inset 9px 9px 18px #4d4d4d,
            inset -9px -9px 18px #ffffff;
	}
}