@import 'general';

// mixin

@mixin hovered{
	border: solid white .4rem;
	background: #e0e0e0;
	box-shadow:  32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff;
}

// scss

.nosotros{
	&__nosotros{
		max-width: fit-content;
		margin: 3rem 1rem;
		border-radius: 1rem;
		padding: 1rem;
		// @include parallax;
	}
	&__argumentos{
		padding: 1rem;
		text-align: center;
		border-radius: 1rem;
		margin: 4rem 1rem;
		transition:all .5s;
		border: solid grey .4rem;
		&:hover{
			@include hovered;
		}
	}
	&__descripcion{
		@include parallax;
		color: white;
		padding: 2rem;
		margin: 1rem;
		border-radius: 1rem;
		word-spacing: 1rem;
		line-height: 4rem;
		text-align: center;
	}
	&__titulos{
		border-radius: 1rem;
		padding: .5rem;
		background: linear-gradient(145deg, #cacaca, #f0f0f0);
		box-shadow:  7px 7px 14px #b1b1b1, -7px -7px 14px #ffffff;
	}
}
.nosotros--valores{
	@extend.nosotros__argumentos;
	margin: 1rem 0rem;
		&:hover{
			@include hovered;
		}	
}
.lista{
	&__lista{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	&__items{
		padding: 1rem 0rem;
		font:{
			size: 2rem;
			weight: 200;
		}
	}
}
.userImg{
	max-width: 5rem;
	margin: 0rem 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 3rem;
}

.nosotros__user{
	@include usersNosotros;
}
.nosotros__users--contenedor{
	@include parallax;
	border-radius: 1rem;
	margin: 1rem;
}