@import 'general';

// mixin

@mixin hovered{
	background: #e0e0e0;
	box-shadow:  32px 32px 63px #a1a1a1, -32px -32px 63px #ffffff;
}

// scss

.nosotros{
	&__nosotros{
		border-radius: 1rem;
		padding: 1rem;
	}
	&__argumentos{
		padding: 1rem;
		text-align: center;
		border-radius: 2rem;
		margin: 4rem 1rem;
		background: #e0e0e0;
		box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
		&:hover{
			@include hovered;
		}
	}
	&__descripcion{
		background: $bgCol;
		color: white;
		padding: 2rem;
		margin: 3rem 0rem;
		word-spacing: 1rem;
		line-height: 4rem;
		text-align: center;
	}
	&__titulos{
		border-radius: 1rem;
		padding: .5rem;
		background: linear-gradient(145deg, #cacaca, #f0f0f0);
		box-shadow:  7px 7px 14px #b1b1b1, -7px -7px 14px #ffffff;
	}
}
.nosotros--valores{
	@extend.nosotros__argumentos;
	margin: 1rem 0rem;
		&:hover{
			@include hovered;
		}	
}
.lista{
	&__lista{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	&__items{
		padding: 1rem 0rem;
		font:{
			size: 2rem;
			weight: 200;
		}
	}
}
.nosotros__user{
	@include usersNosotros;
}
.nosotros__users--contenedor{
	background-color: #272727;
	margin-left: .5rem;
	margin-bottom: 3rem;
	height: 30rem;
}

@media only screen and (max-width: 480px){
	.lista{
		&__lista{
			flex-direction: column;
		}
		&__items{
			text-align: center;
			position: relative;
			left: -2.5rem;
		}
	}
	.nosotros__users--contenedor{
		display: none;
	}
}