@import 'general';

// mixin

@mixin hovered{
	border: solid white .4rem;
	// background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow:  17px 17px 34px #969696, -17px -17px 34px #ffffff;
}

// scss

.nosotros{
	&__nosotros{
		max-width: fit-content;
		margin: 1rem;
		border-radius: 1rem;
		padding: 1rem;
		// @include parallax;
	}
	&__argumentos{
		padding: 1rem;
		text-align: center;
		border-radius: 1rem;
		transition:all .5s;
		border: solid $drCol .4rem;
		&:hover{
			@include hovered;
		}
	}
}
.nosotros--valores{
	@extend.nosotros__argumentos;
	margin: 1rem 0rem;
		&:hover{
			@include hovered;
		}	
}
.lista{
	&__lista{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	&__items{
		padding: 1rem 0rem;
		font:{
			size: 2rem;
			weight: 200;
		}
	}
}
.userImg{
	max-width: 5rem;
	margin: 0rem 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 3rem;
}

.nosotros__user{
	@include usersNosotros;
}
.nosotros__users--contenedor{
	@include parallax;
	border-radius: 1rem;
	margin: 1rem;
}