@import 'general';

// scss

.productos{
	&__imgProductos{
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		background-color: black;
		transition: all .5s;
		z-index: 3;
		top: 5.5rem;
		left: 8.2rem;
		position: absolute;
		&:hover{
			opacity: 0;
		}
	}
	&__fuente{
		color: grey;
		text-align: center;
		font:{
			size:8rem;
			family: 'UnifrakturMaguntia', cursive;
		}
		&:link{
			color: grey;
		}
		&:visited{
			color: grey;
		}
		&:hover{
			color: grey;
			text-decoration: none;
		}
		&:active{
			color: grey;
		}
	}
	&__producto{
		text-align: center;
		margin: 3rem auto;
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		background: #e0e0e0;
		box-shadow: inset 35px 35px 70px #a1a1a1, inset -35px -35px 70px #ffffff;
		text-align: center;
		position: relative;
		z-index: 1;
		border: solid grey .4rem;
	}
	&__nombre{
		text-align: center;
		position: relative;
		z-index: 2;
		top: 20rem;
		color: black;
		border-radius: 2rem;
	}
}
@media only screen and (max-width: 480px){
	.productos{
		&__producto{
			display: none;
		}
		&__nombre{
			display: none;
		}
		&__imgProductos{
			position: static;
			width: 100%;
			border-radius: 0rem;
			margin: 1rem 0rem;
			border: solid .4rem $bgCol;
		}
	}
}