@import 'general';

// scss

.productos{
	&__imgProductos{
		// margin: 3rem 1rem;
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		background-color: black;
		transition: all .5s;
		z-index: 3;
		bottom: 53rem;
		left: 6.6rem;
		position: relative;
		&:hover{
			opacity: 0;
		}
	}
	&__fuente{
		font:{
			size:8rem;
			family: 'UnifrakturMaguntia', cursive;
		}
	}
	&__producto{
		text-align: center;
		margin: 3rem auto;
		width: 50rem;
		height: 50rem;
		border-radius: 50%;
		background: #e0e0e0;
		box-shadow: inset 35px 35px 70px #a1a1a1, inset -35px -35px 70px #ffffff;
		text-align: center;
		position: relative;
		z-index: 1;
		border: solid grey .4rem;
	}
	&__nombre{
		text-align: center;
		position: relative;
		z-index: 2;
		top: 8rem;
		color: white;
		background-color: &drCol;
		border-radius: 1rem;
	}
	&contenedor{
		position: relative;
		top: 40rem;
		left: 20rem;
	}
}